
.loginFormCol{
    height:100vh;
    display:flex;
    justify-content:center;
    flex-direction:column;
    .loginForm{
        width:300px;
        height:190px;
        margin:0 auto;
        .loginBtn{
            width:100%
        }
    }
}
